.contact-info {
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px - 19px - 19px);
  max-width: 0;
  width: 100%;
  border-left: 1px solid transparent;
  overflow: hidden;
  z-index: 3;
  animation: closeAsideDif 0.1s linear forwards;

  &.visible-info {
    min-width: 380px;
    animation: openAsideDif 0.1s linear forwards;
    overflow-y: auto;

    & .info-container {
      overflow-y: auto;

      & .info-contact {
        opacity: 1;
        transition: opacity linear 0.1s 0.2s;
      }

      & .contact-more-info-container {
        opacity: 1;
        transition: opacity linear 0.1s 0.25s;
      }

      & .common-groups {
        opacity: 1;
      }

      & .info-button-container {
        opacity: 1;
        transition: opacity linear 0.1s 0.35s;
      }
    }
  }

  /* CONTAINER */

  & .info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.6rem;
    background-color: var(--bg-color-window);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #374045;
    }
  }
}

@media (width < 1440px) {
  .contact-info.visible-info {
    max-width: 1120px;
    height: calc(100vh - 60px);
  }
}

@media (width < 1250px) {
  .contact-info.visible-info {
    width: 100%;
    animation: openAsideDif 0.1s linear forwards;
  }
}
