.info-button-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-bottom: 2.5rem;

  & .info-button {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--button-text-color);
    border: none;
    padding: 1rem 2.5rem;
    color: #f15c6d;
    cursor: pointer;
    font-size: 1.1rem;

    &:nth-child(3) > svg {
      padding: 0.1rem 0.2rem;
    }

    &:hover {
      background-color: var(--bg-color-options);
    }
  }
}
