.msg-li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &:first-child {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 35px 5px 10px;
  border-radius: 0 10px 10px 10px;
  background-color: var(--bg-color-options);
  margin-top: 0.8rem;
  max-width: 70%;

  & .msg-item-img {
    position: absolute;
    top: 0;
    left: -40px;
    width: 30px;
    height: 30px;
    aspect-ratio: 1, 1;
    border-radius: 50%;
  }

  & small {
    color: var(--button-bg-color);
    font-weight: bold;
  }

  & p {
    margin: 0;
    font-size: 0.9rem;
  }

  & > span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: var(--text-color);
    font-size: 10px;
  }
  &:not(.myself):not(.same-user) {
    &::before {
      position: absolute;
      top: 0;
      left: -8px;
      content: "";
      width: 0;
      height: 0;
      border-top: 13px solid var(--bg-color-options);
      border-left: 8px solid transparent;
      border-radius: 3px 0px 0px 0px;
    }
  }

  &:hover .dropdown-container .icon-button {
    right: 0;
    opacity: 1;
    padding: 0.2rem;
  }

  &:hover .emoji-button-container {
    opacity: 1;
  }

  &.myself .emoji-button-container {
    left: -1.65rem;
    right: auto;
  }

  &.myself .dropdown-container .drop-down {
    right: 0.25rem;
    left: auto;
  }

  & .dropdown-container {
    position: absolute;
    right: 0;
    top: 0;
    background-color: inherit;

    & .icon-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.2rem 0;
      background-color: inherit;
      border-radius: 50%;
      opacity: 0;
      transition: padding linear 0.1s;
    }
    & .drop-down {
      top: 1.5rem;
      left: -1.75rem;
    }
  }

  & .emoji-button-container {
    position: absolute;
    display: flex;
    align-items: center;
    right: -1.65rem;
    opacity: 0;

    & .emoji-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      border-radius: 50%;
      border: none;
      background-color: var(--bg-color-window);
      color: gray;
      cursor: pointer;

      & > svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

.myself {
  margin-left: auto;
  background-color: var(--bg-color-message-myself);
  border-radius: 10px 0 10px 10px;

  &:not(.same-user) {
    &::before {
      position: absolute;
      top: 0;
      right: -8px;
      content: "";
      width: 0;
      height: 0;
      border-top: 13px solid var(--bg-color-message-myself);
      border-right: 8px solid transparent;
      border-radius: 0px 0px 3px 0px;
    }
  }
}

.same-user {
  margin-top: 0.2rem;
  border-radius: 10px;
}
