.msg-date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  background-color: var(--bg-color-options);
  color: var(--text-color);
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  margin: 10px auto;
}

.myself .msg-date {
  left: -300px;
}
