.chat-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  padding: 10px 16px;
  background-color: var(--bg-color-options);

  & .img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  & .icon-container-header-aside {
    position: relative;
    display: flex;
    gap: 0.5rem;
  }

  & .init-heading {
    position: relative;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;

    & > span {
      position: absolute;
      top: 0.9rem;
      right: -75px;
      width: 75 px;
      font-size: 0.75rem;
      font-weight: 400;
      padding: 0 0.1rem;
      color: var(--button-text-color);
      background-color: var(--button-bg-color);
      transform: rotateZ(-10deg);
    }
  }

  & .clicked {
    background-color: #374248;
    border-radius: 50%;
    padding: 6px;
  }
}
