.void {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color-chat);
  border-left: 1px solid rgba(233, 237, 239, 0.12);
  text-align: center;
  padding: 1rem;
  z-index: 6;

  &::before {
    position: absolute;
    content: "";
    background-image: url("bg-chat-tile-dark.png");
    background-size: auto;
    opacity: 0.06;
    width: 100%;
    height: 100%;
  }

  & > h1 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 0;
  }

  & > h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    /* background-color: var(--bg-color-message-myself); */
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 0 0.1rem;
    transform: rotateZ(-10deg);
  }

  & > p {
    margin: 0;
  }

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 2rem;
    z-index: 10;

    & > span {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: var(--button-bg-color-hover);
    }
  }
}
