.search-msg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;

  &.visible-search {
    min-width: 380px;
    /* border-left: 1px solid rgba(233, 237, 239, 0.12); */
  }

  & .search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px - 19px - 19px);
    height: 100%;
    background-color: var(--button-text-color);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #374045;
    }
  }
}

@media (width < 1440px) {
  .search-msg.visible-info {
    max-width: 1120px;
    height: calc(100vh - 60px);
  }
}
