.chat {
  position: relative;
  min-width: 500px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--bg-color-chat-2);
  border-left: 1px solid rgba(233, 237, 239, 0.12);
  z-index: 2;
  scroll-behavior: smooth;

  & .bg-chat {
    position: fixed;
    content: "";
    min-width: 500px;
    max-width: 1120px;
    width: 100%;
    /* Aqui incluyo el padding (que puede cambiar) y la altura del header & footer*/
    max-height: calc(100vh - 158px);
    height: 100%;
    background-image: url("bg-chat-tile-dark.png");
    background-size: auto;
    opacity: 0.06;
    z-index: -1;
    transition: max-width linear 0.1s;

    &.info-active {
      max-width: calc(1120px - 480px);
      transition: max-width linear 0.1s;
    }
  }

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #374045;
  }

  & .messages-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0px 40px 0px 60px;

    & .message {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 40px 10px 10px;
      border-radius: 0 10px 10px 10px;
      background-color: var(--bg-color-options);

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }

      & img {
        position: absolute;
        top: 0;
        left: -30px;
        width: 20px;
        aspect-ratio: 1, 1;
        border-radius: 50%;
      }

      & small {
        color: var(--button-bg-color);
        font-weight: bold;
      }

      & p {
        margin: 0;
      }

      & > span {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: var(--text-color);
        font-size: 10px;
      }
      &:not(.myself):not(.same-user) {
        &::before {
          position: absolute;
          top: 0;
          left: -8px;
          content: "";
          width: 0;
          height: 0;
          border-top: 13px solid var(--bg-color-options);
          border-left: 8px solid transparent;
          border-radius: 3px 0px 0px 0px;
        }
      }
    }

    & .myself {
      margin-left: auto;
      background-color: var(--bg-color-message-myself);
      border-radius: 10px 0 10px 10px;

      &:not(.same-user) {
        &::before {
          position: absolute;
          top: 0;
          right: -8px;
          content: "";
          width: 0;
          height: 0;
          border-top: 13px solid var(--bg-color-message-myself);
          border-right: 8px solid transparent;
          border-radius: 0px 0px 3px 0px;
        }
      }
    }

    & .same-user {
      margin-top: -5px;
      border-radius: 10px;
    }
  }
}

@media (width < 1648px) {
  .chat {
    & .bg-chat {
      max-width: calc(100vw - 19px - 19px - 480px);
      width: 100%;

      &.info-active {
        max-width: calc(100vw - 19px - 19px - 480px - 480px);
        width: 100%;
      }
    }
  }
}

@media (width < 1440px) {
  .chat {
    & .bg-chat {
      max-height: calc(100vh - 120px);
      height: 100%;
      max-width: 100%;
    }
  }
}
