.group-info-button-container {
  opacity: 0;
  display: flex;
  flex-direction: column;

  & .info-button {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--button-text-color);
    border: none;
    padding: 1rem 2.5rem;
    color: #f15c6d;
    cursor: pointer;
    font-size: 1.1rem;

    &:hover {
      background-color: var(--bg-color-options);
    }
  }
}
