.info-users {
  background-color: var(--button-text-color);
  cursor: pointer;
  opacity: 0;

  & .info-users-header {
    padding: 1rem 2rem 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);

    & .info-users-title {
      margin: 0;
      font-size: 1rem;
    }

    & svg {
      width: 1rem;
    }
  }
}
