.contact-info {
  position: absolute;
  height: 100%;
  max-width: 480px;
  width: 100%;
  border-left: 1px solid transparent;
  overflow: hidden;
  z-index: 3;

  &.visible-info {
    & .info-container {
      & .info-contact {
        opacity: 1;
        transition: opacity linear 0.1s 0.2s;
      }

      & .contact-more-info-container {
        opacity: 1;
        transition: opacity linear 0.1s 0.25s;
      }

      & .info-button-container {
        opacity: 1;
        transition: opacity linear 0.1s 0.35s;
      }
    }
  }

  /* HEADER */

  & .contact-info-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px 16px;
    background-color: var(--bg-color-options);
    /* border-left: 1px solid rgba(134, 150, 160, 0.15); */
    border-left: 1px solid transparent;

    & .info-title {
      font-weight: 400;
      font-size: 1rem;
      margin-left: 2rem;
    }
  }

  /* CONTAINER */

  & .info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.6rem;
    background-color: var(--bg-color-window);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #374045;
    }

    /* BUTTONS */

    & .info-button-container {
      display: flex;
      flex-direction: column;
      opacity: 0;

      & .info-button {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        background-color: var(--button-text-color);
        border: none;
        padding: 1rem 2.5rem;
        color: #f15c6d;
        cursor: pointer;
        font-size: 1.1rem;

        &:nth-child(3) > svg {
          padding: 0.1rem 0.2rem;
        }

        &:hover {
          background-color: var(--bg-color-options);
        }
      }
    }
  }
}

@media (width < 1440px) {
  .contact-info.visible-info {
    max-width: 1120px;
  }
}
