.upload-icon-container {
  position: absolute;
  top: 0.5rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & .length {
    color: var(--text-color);
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }

  & .icon-button {
    padding: 0;
    padding-left: 0.3rem;

    & > svg {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}
