search {
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  padding: 0.4rem 10px;
  background-color: var(--button-text-color);

  & > label {
    position: absolute;
    top: 0.5rem;
    padding: 0 0px 0 10px;
    color: var(--text-color);
    cursor: pointer;

    & .arrow-search {
      opacity: 0;
    }

    & .arrow-search.visible-arrow2 {
      opacity: 1;
      color: var(--button-bg-color);
      transform: rotate(90deg);
      transition: transform linear 0.1s;
    }

    & svg {
      width: 15px;
    }
  }

  & input {
    width: 100%;
    padding: 0.6rem 4rem;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-color-options);
    outline: none;

    &::placeholder {
      color: var(--text-color);
      font-size: 0.85rem;
    }
  }
}
