.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-right: auto;

  & .icon-button:nth-child(1) {
    max-width: 0;
    opacity: 0;
    padding: 0;
    transition: max-width linear 0.05s;

    &.active-x {
      opacity: 1;
      max-width: 36px;
      padding: 1px 6px;
      transition: max-width linear 0.05s;
    }
  }

  & .icon-button:nth-child(2).active-emoji {
    color: var(--button-bg-color);
  }

  & .icon-button:nth-child(3) {
    transition: transform linear 0.1s;
  }

  & .icon-button:nth-child(3).active-x {
    transform: rotate(135deg);
    background-color: #374248;
    border-radius: 50%;
    padding: 6px;
  }
}
