.options-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 32px;
  bottom: 42px;
  z-index: 6;
  width: 200px;
  background-color: var(--bg-color-chat);
  color: white;
  font-weight: 400;
  padding: 0.75rem 0.5rem;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(11, 20, 26, 0.26),
    0 2px 10px 0 rgba(11, 20, 26, 0.16);
  animation: openOptions linear 0.2s forwards;
  overflow: hidden;

  & .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;

    &:hover {
      background-color: var(--bg-color-notifications);
    }

    &:nth-child(1) {
      color: #7f66ff;
      animation: openContain linear 0.1s 0.28s forwards;
    }

    &:nth-child(2) {
      color: #007bfc;
      animation: openContain linear 0.1s 0.26s forwards;
    }

    &:nth-child(3) {
      color: #ff2e74;
      animation: openContain linear 0.1s 0.24s forwards;
    }

    &:nth-child(4) {
      color: #009de2;
      animation: openContain linear 0.1s 0.21s forwards;
    }

    &:nth-child(5) {
      color: #ffbc38;
      animation: openContain linear 0.1s 0.18s forwards;

      & span svg {
        transform: rotateX(180deg) rotateZ(90deg);
      }
    }

    &:nth-child(6) {
      color: #02a698;
      animation: openContain linear 0.1s 0.15s forwards;
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
    }

    & p {
      margin: 0;
      color: white;
    }
  }
}

@keyframes openOptions {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 200px;
    height: 252px;
  }
}

@keyframes openContain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
